:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
    min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 200px;
  height: 125px;
  background-color: var(--button);
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {s
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
Image{
  width: 500px;
}
.christmas{
 --primary: rgb(245, 74, 74);
 --secondary: rgb(65, 224, 65);
 --button: rgb(75, 161, 82);
 font-family: cursive;
}
.halloween{
  --primary:rgb(212, 154, 46);
  --secondary:rgb(15, 14, 14);
  --button :rgb(235, 235, 235); 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.normal{
  --primary:#242424;
  --secondary:rgb(240, 208, 208);
  --button :rgb(216, 96, 96);
  font-family: 'Times New Roman', Times, serif;
}
body{
  background-color: var(--primary);
  color:var(--secondary);
}
.imgs{
  width: 200px;
  height: 200px;
}
.app{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  display: grid;
}
.Card{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem auto;
  font-size: 10px;
  display: grid;
}
.inputs{
  height: 50px;
  width: 200px;
}
.button{
width: 150px;
height: 70px;
}